h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}
.default,
.home {
	letter-spacing: 0.2px;
}
/* header */
.default .navbar-default {
	padding: 8px 60px;
}
.home .navbar-default {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
}
.navbar-default {
    z-index: 2;
    border-radius: 0;
    background: orangered;
	border: 0;
    padding: 2% 4%;
	margin: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.85;
    filter: alpha(opacity=85);
	line-height: 36px;
    padding: 10px 13px;
}
.navbar-default .navbar-brand {
	font-size: 30px;
	color: #ffffff;	
}
.home .navbar-default .navbar-brand:hover,
.home .navbar-default .navbar-brand:focus {
	color: orangered;
}
.nav-selected a {
	opacity: 1 !important;
}
.nav-item {
	padding: 7px;
}
.navbar .nav li a:hover .nav-item,
.navbar .nav li a:focus .nav-item {
	color: #000;
	background: #fff;
	transition: all 500ms ease;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	opacity: 1;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
/* end of header */
.booking-carousel {
	text-align: center;
	position: relative;
}
/* search */
.home .search-form {
	position: absolute;
	bottom: 25%;
    left: 15%;
    right: 15%;
}
.default .search-form {
	background: #F3FCFF;
}
.search-form {
	text-align: center;
    color: #000;
    background: #fff;
	padding: 20px 0;
	border-radius: 4px;
	z-index: 3;
}
.fixed.search-form {
	position: fixed;
	left: 0;
	right: 0;
	border-bottom: 2px solid #e5e5e5;
	padding: 10px 0;
	bottom: auto;
}
.fixed.search-form .search-label {
	display: none;
}
.fixed.search-form .search-btn {
	margin-top: 0;
}
.search-label {
	display: block;
	text-align: left;
	font-weight: 400;
	color: #949292;
	padding: 0 15px;
}
.search-query {
	padding: 20px 0;
    text-align: center;
}
.search-btn {
	padding: 6px 22px;
	margin-top: 24px;
}
/* end of search */
/* hero */
.hero-img {
	width: 100%;
	height: 100%;
}
.hero {
	width: 100%;
	height: 600px;
	background: rgba(0,0,0,0.7);
}
.hero-text {
	position: absolute;
	color: #fff;
	font-size: 60px;
	left: 0;
	right: 0;
	bottom: 45%;
}
/* end of hero */
/* section/page common css */
.page,
.section {
	padding: 3% 5%;
}
.page .row {
	margin: 0;
}
.heading-wrapper {
	text-align: center;
	font-weight: 300;
    padding-bottom: 30px;
}
.heading {
	font-weight: 300;
	letter-spacing: 1px;
}
.page .heading {
	text-transform: uppercase;
}
.content-wrapper h3 {
	padding-bottom: 10px;
}
.heading-subtext {
	color: #696969;
}
.section .sub-heading {
	font-size: 20px;
	font-weight: 400;
}
.fa-bed, .fa-play-circle-o, .fa-coffee, .fa-home {
	color: #0099FF;
}
.section .btn-primary {
	background: #0099FF;
    border-radius: 3px;
    border: 0;
    border-bottom: 2px solid #026EB9;
    padding: 16px 30px;
    font-size: 15px;
    font-weight: 300;
}
.section .embed-responsive-4by3 {
	padding-bottom: 45%;
}
.locations_h.section .embed-responsive-4by3 {
	padding-bottom: 30%;
}
.btn-wrapper {
	text-align: center;
	padding-top: 30px;
}
.section .content-wrapper.row {
	margin: 0;
}
/* end of section */
/* locations */
.testimonials .btn-primary, 
.blog .btn-primary, 
.locations .btn-primary {
    background-color: #a82f39;
    border-bottom: solid 2px #69202c;
}
.locations.section {
	background: #F8F8FB;
}
.location-wrapper:first-child {
	padding-top: 0;
}
.location-wrapper .col-xs-8.col-sm-6 {
    border: 1px solid white;
}
.location-text {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    opacity: 1;
	transition: all 1s;
}
.location-text h2 {
	font-weight: 400;
}
.location-link:hover .location-text,
.location-link:hover .ribbon {
    opacity: 0;
}
.location-link {
	display: block;
}
.location-link:hover .fa-search {
    height: 60px;
}
.locations .fa-search {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    display: block;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 200;
    font-size: 24px;
}
.locations .fa-search::after {
    content: ' See All';
    display: inline;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: 400;
}
.location-link:hover .location-overlay {
    opacity: 1;
}
.location-overlay {
	display: block;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.location-img {
	width: 100%;
/*	height: 171px;*/
	height: auto;
}
.page .location-img {
/*	height: 220px;*/
	height: auto;
}
.ribbon {
    position: absolute;
    right: 0;
    overflow: hidden;
    color: white;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
	opacity: 1;
}
.ribbon::before {
	content: "";
    background: red;
    width: 140px;
    height: 32px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 22px;
    box-shadow: 0 2px 8px 1px #424242;
}
.ribbon::after {
    content: "";
    width: 130px;
    height: 25px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    border: 1px dotted yellow;
}
.ribbon-text {
    transform: rotate(45deg);
    position: absolute;
    top: 25px;
    right: 3px;
}
.page.locations .map-overlay {
    height: 494px;
    top: 494px;
    margin-top: -494px;
}
.map-overlay {
	display: block;
    background: transparent;
    position: relative;
    width: 100%;
    height: 585px;
    top: 585px;
    margin-top: -585px;
    z-index: 2;
}
.map-wrapper {
	padding-bottom: 15px;
}
.map-link {
	display: none;
    padding: 15px 0;
    text-align: center;
}
.locations.page .col-xs-12.col-sm-4 {
    padding: 0;
    border: 4px solid white;
}
/* gallery */
.gallery .img-gallery-row {
	height: 268px;
}
.gallery .img-gallery {
	width: 100%;
}
.gallery .img-wrapper {
	padding: 0;
	border: 1px solid white;
}
.section.gallery .content-wrapper .row {
	margin: 0;
}

/* listing */
.listings {
    text-align: center;
    padding: 0 15% 3% 15%;
}
.listings .listings-main .col-xs-12.col-sm-6.col-md-9 {
	padding-left: 0;
}
.listings .fa-picture-o {
	font-size: 145px;
	background: white;
	color: grey;
}
.listings-img, 
.listings-img-gallery {
	width: 100%;
}
.listings-name {
	font-size: 20px;
}
.listings-price {
	font-size: 18px;
	color: green;
}
.listings-price-small {
	font-size: 12px;
	color: #888;
}
.listings-item {
    text-align: left;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    padding: 15px 0;
}
.listings-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.listings-select-btn {
    color: #fff;
    background-color: orangered;
    border-color: red;
    padding: 6px 16px;
    margin-top: 6px;
}

.listings-select-btn:focus, .listings-select-btn:hover {
    color: #fff;
    background-color: orangered;
    border-color: red;
}

.listings-price-wrapper {
	text-align: center;
}
.listings-name-wrapper {
	color: #000;
}
.listings-name-wrapper:focus, .listings-name-wrapper:hover {
	color: #000;
    text-decoration: none;
}
.listings-more {
	padding: 10px 0 0 0;
	margin: 0;
	background: ghostwhite;
	margin-top: 15px;
}
.listings-more .listings-img-wrapper {
	padding: 2px;
}
.listings .nav-tabs {
	border: 0;
}
.listings .nav-tabs>li.active>a,
.listings .nav-tabs>li.active>a:focus,
.listings .nav-tabs>li.active>a:hover {
	color: black;
    cursor: default;
    background-color: #fff;
	border: 0;
    border-bottom: 2px solid orangered;
}
.listings-more-content {
	padding: 10px 0;
	line-height: 2;
}
.listings-more-content li {
	list-style: none;
}
.listings-more-content .fa-star {
	color: orangered;
}
.listings-main {
	margin: 0;
}
/* end of listing */
/* book */
.book-guest,
.book-details {
	padding: 15px;
}
.book .form-control {
    padding: 6px 30px 6px 12px;
}
.book-right-col {
	padding: 0;
}
.book-clear-session {
	text-align: center
}
.book-clear-session a {
	font-size: 12px;
}
.book-summary {
	border: 1px solid #C1C1C1;
    padding: 20px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.03);
}
.book-summary .row{
	padding: 4px 0;
}
.dotted-seperator {
    border-top: 1px dotted black;
}
.book-final {
	color: #D60000;
	font-size: 16px;
}
.donot-refresh {
	color: #D60000;
	font-size: 11px;
}
/* end of book */
/* terms */
.terms-conditions {
    height: 195px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    color: #4E4E4E;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
}
/* end of terms */
/* override lightbox css */
.modal-header {
	padding: 0;
	border: 0;
	background: rgba(0,0,0,0.9);
}
.modal-header .close {
    margin-top: -2px;
    color: lightblue;
    opacity: 1;
    text-shadow: initial;
}
.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.modal-body {
    padding: 0;
}
/* footer */
.footer {
	text-align: center;
}
.footer-about {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
	margin: 0;
}
.footer-social {
	padding: 15px 0;
}
.footer-about-item {
	list-style: none;
	padding: 0 10px;
	display: inline-block;
}
.fa-facebook, .fa-twitter, .fa-google-plus {
    color: white;
    font-size: 20px;
    padding: 16px;
    border-radius: 50%;
}
.fa-facebook {
    background: #3b5998;
    padding: 16px 20px;
}
.fa-twitter {
	background: #55acee;
    padding: 16px 17px;
}
.fa-google-plus {
	background: #e15f4f;
    padding: 16px 13px;
}
.footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* amenities */
.page.amenities .content-wrapper .heading {
	border-bottom: 1px solid black;
	text-transform: uppercase;
    padding-top: 10px;
}
.amenities .amenities-img {
	width: 100%;
}
.default .main .amenities .amenities-subtext {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
	margin-bottom: 40px;
}
.default .main .amenities .amenities-ul-heading {
    font-size: 16px;
    padding: 10px 0;
}
.default .main .amenities {
	font-weight: 300;
	line-height: 2;
}
.amenities .fa-circle-o {
	color: orangered;
	line-height: 2;
	text-align: right;
	font-size: 10px;
}
.amenities li, amenities ul {
	list-style: none;
}
.amenities li span {
	padding-left: 0;
}
.amenities-img {
	height: 430px;
}
.required {
	color: red;
}
.validation {
	text-align: left;
}
.validation .fa-check {
    color: green;
}
.validation .fa-close {
    color: red;
}
.validation .fa-close,
.validation .fa-check {
    transition: all 200ms;
    padding-top: 9px;
    padding-right: 40px;
}
.no-results {
	padding: 20px;
    display: block;
    font-size: 20px;
}
/* contact us */
.contact-us textarea#message {
	height: 100px;
}
.contact-us .content-wrapper .heading {
	padding-bottom: 15px;
	text-transform: inherit;
    font-weight: 400;
	text-align: center
}
.contact-us .content-wrapper .col-right .heading, 
.contact-us .content-wrapper .col-right .heading-subtext {
	text-align: center;
	padding-left: 0;
}
.contact-left {
	text-align: right;
	font-style: italic
}
.contact-right {
	text-align: left;
}
.contact-us .row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-us .col-left {
}
.contact-us .col-right {
	padding: 0 12%;
}




.popover {
    color: red;
}
.reset {
	padding: 0;
	margin: 0;
}
.contact-error,
.book-error {
    padding: 10px;
    z-index: 3;
    color: red;
    background: white;
}
.error {
    position: absolute;
    padding: 10px;
    z-index: 3;
    color: red;
    background: white;
    left: 0;
    right: 0;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1036px) {
	.home .search-form {
		bottom: 15% !important;
		position: absolute !important;
	}
}

@media only screen and (max-width : 992px) {
	.home .search-form {
		left: 10% !important;
		right: 10% !important;
		position: absolute !important;
	}
	.section .embed-responsive-4by3 {
		display: none;
	}
	.hero-text {
		display: none;
	}
	.default .navbar-default {
		padding: 1% 2%;
	}
	.map-wrapper {
		display: none;
	}
	.map-link {
		display: block;
	}
	.listings {
		padding: 3% 5%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.page .location-img {
		height: auto;
	}
	.amenities-img {
		height: auto;
	}
	.html-listings .default .search-form {
		display: block;
	}
	.default .search-form {
		display: none;
	}
	.home .navbar-default {
		background: orangered;
		z-index: 4;
	}
	.default .navbar-default {
		padding: 1% 2%;
	}
	.gallery .img-gallery-row {
		height: auto;
	}
	.contact-right,
	.contact-left {
		text-align: center;
	}
	.listings-img {
		width: 40%;
	}
	.listings-main {
		text-align: center;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* atomic */
.pb-10px {
	padding-bottom: 10px;
}
.pb-20px {
	padding-bottom: 20px;
}
.roooms.section {
	padding: 3% 14%;
}
.rooms.section img {
    width: 100%;
    height: auto;
}
.rooms.section,
.amenities.section,
.footer {
    background: #eee;
}
.d-ib {
	display: inline-block;
}
.text-center {
	text-align: center;
}
.bb-1d {
	border-bottom: 1px dotted #333;
}
.bb-1dd {
	border-bottom: 3px double #333;
}
.mb-10px {
	margin-bottom: 10px;
}
.testimonials img {
	width: 100px;
    border-radius: 50%;
}
.testimonials .fa-user {
	font-size: 100px;
    color: #ccc;
}
.blog .content-wrapper {
    padding: 0 10%;
}
.blog-wrap {
/*    border: 1px solid #eee;
    padding: 20px; */
}
.testi-wrap {
	padding: 20px;
    border: 1px solid #eee;
    border-radius: 20px;
}
.rooms.section h3 {
	margin-left: 20%;
    margin-right: 20%;
}
.rooms.section h3 a {
	color: black;
}
.rooms.page {
	font-size: 16px !important;
    line-height: 1.6;
}
.rooms.page img {
    padding: 10px;
    border: 1px solid #eee;
    height: auto;
	width: 100%;
}
.rooms.page .heading-wrapper {
	border-bottom: 3px double #ccc;
    margin-bottom: 24px;
}
.mb-10px {
	margin-bottom: 10px;
}
.embed-responsive iframe {
	height: 512px !important;
}
.footer-cols {
	padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    text-transform: capitalize;
}