// font-awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Bootstrap

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

.footer {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
.default,
.home {
    letter-spacing: 0.2px;
}
/* header */
.default .navbar-default {
//    padding: 8px 60px;
//    border-bottom: 1px solid #e4e4e4;
}
.home .navbar-default {
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
    background: #f5f7fa;
}
.navbar-default {
    z-index: 2;
    border-radius: 0;
    background: #f5f7fa;
    border: 0;
    padding: 0 4%;
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
//    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.85;
    filter: alpha(opacity=85);
    padding: 10px 13px;
    line-height: 4;
}
.navbar-default .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    margin-top: -9px;
}
.home .navbar-default .navbar-brand:hover,
.home .navbar-default .navbar-brand:focus {
    color: orangered;
}
.nav-selected a {
    opacity: 1 !important;
}
.nav-item {
    padding: 7px;
}
.navbar .nav li a:hover .nav-item,
.navbar .nav li a:focus .nav-item {
    color: #000;
    background: #fff;
    border-radius: 2px;
    transition: all 500ms ease;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    opacity: 1;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .btn-link {
    color: #fff;
}
.open a#userMenu {
    background: transparent;
    color: #000;
}
.open a#userMenu .nav-item {
    background: #fff;
    color: #000;
}
.open .dropdown-menu .nav-item {
    background: #fff;
    color: #000;
}
/* end of header */
.booking-carousel {
    text-align: center;
    position: relative;
}
/* search */
.home .search-form {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
}
.default .main {
    background: #f6f8fa;
}
.bg-f6f8fa {
    background: #f6f8fa;
}
.default .search-form {
//    border-bottom: 1px solid #e4e4e4;
    background: #fff;
    padding: 0;
}
.search-form {
    text-align: center;
    color: #000;
    padding: 20px 0;
    border-radius: 4px;
    z-index: 3;
}
.search-form form {
    background: #fff;
    margin-bottom: 0;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
}
.fixed.search-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px solid #e5e5e5;
    padding: 10px 0;
    bottom: auto;
    background: #fff;
}
.fixed.search-form form{
    margin-bottom: 0;
    padding: 0;
}
.fixed.search-form .search-label {
    display: none;
}
.fixed.search-form .search-btn {
    margin-top: 0;
}
.search-label {
    display: block;
    text-align: left;
    font-weight: 400;
    color: #949292;
}
.search-query {
    padding: 20px 0;
    text-align: center;
    display: none;
}
.search-btn {
    padding: 6px 22px;
    margin-top: 25px;
}
/* end of search */
/* hero */
.hero-img {
    width: 100%;
    height: 100%;
}
.hero {
    width: 100%;
    background: rgba(0,0,0,0.7);
//    background-image: url('img/ltstay_hero1.jpg');
    height: 70vh;
    background-position-y: 100vh;
    background-attachment: fixed;
}
.hero-text {
    position: absolute;
    color: #fff;
    font-size: 60px;
    left: 0;
    right: 0;
    bottom: 45%;
}
/* end of hero */
/* section/page common css */
.page,
.section {
    padding: 3% 5%;
}
.page .row {
//    margin: 0;
}
.heading-wrapper {
    text-align: center;
    font-weight: 300;
    padding-bottom: 30px;
}
.heading {
    font-weight: 300;
    letter-spacing: 1px;
}
.page .heading {
    text-transform: uppercase;
}
.content-wrapper h3 {
    padding-bottom: 10px;
}
.heading-subtext {
    color: #696969;
}
.section .sub-heading {
    font-size: 20px;
    font-weight: 400;
}
.fa-bed, .fa-play-circle-o, .fa-coffee, .fa-home, .fa-cutlery {
//    color: #0099FF;
}
.section .btn-primary {
    background: #0099FF;
    border-radius: 3px;
    border: 0;
    border-bottom: 2px solid #026EB9;
    padding: 16px 30px;
    font-size: 15px;
    font-weight: 300;
}
.section .embed-responsive-4by3 {
    padding-bottom: 45%;
}
.locations_h.section .embed-responsive-4by3 {
    padding-bottom: 30%;
}
.btn-wrapper {
    text-align: center;
    padding-top: 30px;
}
.section .content-wrapper.row {
    margin: 0;
}
/* end of section */
/* locations */
.btn-red {
    background-color: #a82f39 !important;
    border-bottom: solid 2px #69202c !important;
}
.locations.section {
    background: #F8F8FB;
}
.location-wrapper:first-child {
    padding-top: 0;
}
.location-wrapper .col-xs-8.col-sm-6 {
    border: 1px solid white;
}
.location-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    opacity: 1;
    transition: all 1s;
}
.location-text h2 {
    font-weight: 400;
}
.location-link:hover {
    box-shadow: inset 0px 0px 0px 1000px rgba(0,0,0,0.2);
    transition: box-shadow .3s;
}
.location-link {
    display: block;
}
.location-link:hover .fa-search {
    height: 60px;
}
.locations .fa-search {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    display: block;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 200;
    font-size: 24px;
}
.locations .fa-search::after {
    content: ' See All';
    display: inline;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: 400;
}
.location-link:hover .location-overlay {
    opacity: 1;
}
.location-overlay {
    display: block;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.location-img {
    width: 100%;
/*    height: 171px;*/
    height: auto;
}
.page .location-img {
/*    height: 220px;*/
    height: auto;
}
.ribbon {
    position: absolute;
    right: 0;
    overflow: hidden;
    color: white;
    z-index: 2;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.ribbon::before {
    content: "";
    background: red;
    width: 140px;
    height: 32px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 22px;
    box-shadow: 0 2px 8px 1px #424242;
}
.ribbon::after {
    content: "";
    width: 130px;
    height: 25px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    border: 1px dotted yellow;
}
.ribbon-text {
    transform: rotate(45deg);
    position: absolute;
    top: 25px;
    right: 3px;
}
.page.locations .map-overlay {
    height: 494px;
    top: 494px;
    margin-top: -494px;
}
.map-overlay {
    display: block;
    background: transparent;
    position: relative;
    width: 100%;
    height: 585px;
    top: 585px;
    margin-top: -585px;
    z-index: 2;
}
.map-wrapper {
    padding-bottom: 15px;
}
.map-link {
    display: none;
    padding: 15px 0;
    text-align: center;
}
.locations.page .col-xs-12.col-sm-4 {
    padding: 0;
    border: 4px solid white;
}
/* gallery */
.gallery .img-gallery-row {
    height: 268px;
}
.gallery .img-gallery {
    width: 100%;
}
.gallery .img-wrapper {
    padding: 0;
    border: 1px solid white;
}
.section.gallery .content-wrapper .row {
    margin: 0;
}

/* listing */
.listings {
    background: #f6f8fa;
    text-align: center;
    padding: 0 15% 3% 15%;
}
.listings .listings-main .col-xs-12.col-sm-6.col-md-9 {
    padding-left: 0;
}
.listings .fa-picture-o {
    font-size: 145px;
    background: white;
    color: grey;
}
.listings-img, 
.listings-img-gallery {
    width: 100%;
}
.listings-name {
    font-size: 20px;
}
.listings-price {
    font-size: 18px;
    color: green;
}
.listings-price-small {
    font-size: 12px;
    color: #888;
}
.listings-item {
    background: #fff;
    text-align: left;
//    border: 1px solid #e5e5e5;
    border-bottom: 0;
    padding: 15px 0;
    margin: 10px;
    border-radius: 4px;
}
.listings-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.listings-select-btn {
    color: #fff;
    background-color: orangered;
    border-color: red;
    padding: 6px 16px;
    margin-top: 6px;
}

.listings-select-btn:focus, .listings-select-btn:hover {
    color: #fff;
    background-color: orangered;
    border-color: red;
}

.listings-price-wrapper {
    text-align: center;
}
.listings-name-wrapper {
    color: #000;
}
.listings-name-wrapper:focus, .listings-name-wrapper:hover {
    color: #000;
    text-decoration: none;
}
.listings-more {
    padding: 10px 0 0 0;
    margin: 0;
    background: ghostwhite;
    margin-top: 15px;
}
.listings-more .listings-img-wrapper {
    padding: 2px;
}
.listings .nav-tabs {
    border: 0;
}
.listings .nav-tabs>li.active>a,
.listings .nav-tabs>li.active>a:focus,
.listings .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid orangered;
}
.listings-more-content {
    padding: 10px 0;
    line-height: 2;
}
.listings-more-content li {
    list-style: none;
}
.listings-more-content .fa-star {
    color: orangered;
}
.listings-main {
    margin: 0;
}
.item-temp1-inner h5 {
    font-size: 20px;
    color: #ff4500;
}
.filter label {
    font-weight: normal;
}
/* end of listing */
/* book */
.book-guest,
.book-details {
    padding: 15px;
}
.book .form-control {
    padding: 6px 30px 6px 12px;
}
.book-right-col {
    padding: 0;
}
.book-clear-session {
    text-align: center
}
.book-clear-session a {
    font-size: 12px;
}
.book-summary {
    border: 1px solid #C1C1C1;
    padding: 20px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.03);
}
.book-summary .row{
    padding: 4px 0;
}
.dotted-seperator {
    border-top: 1px dotted black;
}
.book-final {
    color: #D60000;
    font-size: 16px;
}
.donot-refresh {
    color: #D60000;
    font-size: 11px;
}
/* end of book */
/* terms */
.terms-conditions {
    height: 195px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    color: #4E4E4E;
    padding: 10px;
    border-radius: 4px;
    margin: 0;
}
/* end of terms */
/* override lightbox css */
.modal-header {
    padding: 0;
    border: 0;
    background: rgba(0,0,0,0.9);
}
.modal-header .close {
    margin-top: -2px;
    color: lightblue;
    opacity: 1;
    text-shadow: initial;
}
.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.modal-body {
    padding: 0;
}
/* footer */
.footer {
    text-align: center;
}
.footer-about {
    padding: 10px 0 !important;
    margin: 0;
}
.footer-social {
    padding: 15px 0;
}
.footer-about-item {
    list-style: none;
    padding: 0 10px;
    display: inline-block;
}
.fa-facebook, .fa-twitter, .fa-google-plus {
    color: white;
    font-size: 20px;
    padding: 16px;
    border-radius: 50%;
}
.fa-facebook {
    background: #4267b2;
    padding: 16px 20px;
}
.fa-twitter {
    background: #55acee;
    padding: 16px 17px;
}
.fa-google-plus {
    background: #e15f4f;
    padding: 16px 13px;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* amenities */
.page.amenities .content-wrapper .heading {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    padding-top: 10px;
}
.page.amenities {
    .heading-wrapper {
        background-image: url(https://s3-us-west-1.amazonaws.com/longtermstay/ltstay_gallery_b8.png);
        height: 50vh;
        background-attachment: fixed;
//        background-size: 100%;
        background-position-y: 100%;
        background-repeat: no-repeat;
        > div {
            left: 0;
            right: 0;
            top: 50%;
        }
    }
}
.amenities .amenities-img {
    width: 100%;
}
.default .main .amenities .amenities-subtext {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}
.default .main .amenities .amenities-ul-heading {
    font-size: 16px;
    padding: 10px 0;
}
.default .main .amenities {
    font-weight: 300;
    line-height: 2;
}
.amenities .fa-circle-o {
    color: orangered;
    line-height: 2;
    text-align: right;
    font-size: 10px;
}
.amenities li, amenities ul {
    list-style-position: inside;
    list-style-type: circle;
}
.amenities li span {
    padding-left: 0;
}
.amenities-img {
    height: 430px;
}
.required {
    color: red;
}
.validation {
    text-align: left;
}
.validation .fa-check {
    color: green;
}
.validation .fa-close {
    color: red;
}
.validation .fa-close,
.validation .fa-check {
    transition: all 200ms;
    padding-top: 9px;
    padding-right: 40px;
}
.no-results {
    padding: 20px;
    display: block;
    font-size: 20px;
}
/* contact us */
.contact-us textarea#message {
    height: 100px;
}
.contact-us .content-wrapper .heading {
    padding-bottom: 15px;
    text-transform: inherit;
    font-weight: 400;
    text-align: center
}
.contact-us .content-wrapper .col-right .heading, 
.contact-us .content-wrapper .col-right .heading-subtext {
    text-align: center;
    padding-left: 0;
}
.contact-left {
    text-align: right;
    font-style: italic
}
.contact-right {
    text-align: left;
}
.contact-us .row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-us .col-left {
}
.contact-us .col-right {
    padding: 0 12%;
}
.contact-us .icon {
    color: black;
    background: none;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    transition: transform 500ms;
    transform: scale3d(1, 1, 1);
    &:hover {
        transition: transform 300ms;
        transform: scale3d(2, 2, 2);
    }
}


.login-page {
    .fb-wrapper {
        background: #4267b2;
        color: white;
        text-align: left;
    }
    .fa-facebook {
        padding: 7px 14px;
    }
    .continue {
        vertical-align: text-bottom;
    }
}

.popover {
    color: red;
}
.reset {
    padding: 0;
    margin: 0;
}
.contact-error,
.book-error {
    padding: 10px;
    z-index: 3;
    color: red;
    background: white;
}
.error {
    position: absolute;
    padding: 10px;
    z-index: 3;
    color: red;
    background: white;
    left: 0;
    right: 0;
}


/* atomic */
.pb-10px {
    padding-bottom: 10px;
}
.pb-20px {
    padding-bottom: 20px;
}
.roooms.section {
    padding: 3% 14%;
}
.rooms.section img {
    width: 100%;
    height: auto;
}
.rooms.section,
.amenities.section {
    background: #eee;
}
.d-ib {
    display: inline-block;
}
.text-center {
    text-align: center;
}
.bb-1d {
    border-bottom: 1px dotted #333;
}
.bb-1dd {
    border-bottom: 3px double #333;
}
.mb-10px {
    margin-bottom: 10px;
}
.testimonials img {
    width: 100px;
    border-radius: 50%;
}
.testimonials .fa-user {
    font-size: 100px;
    color: #ccc;
}
.blog .content-wrapper {
    padding: 0 10%;
}
.blog-wrap {
/*    border: 1px solid #eee;
    padding: 20px; */
}
.testi-wrap {
    padding: 20px;
    border: 1px solid #eee;
}
.rooms.section h3 {
    margin-left: 20%;
    margin-right: 20%;
}
.rooms.section h3 a {
    color: black;
}
.rooms.page {
    font-size: 16px !important;
    line-height: 1.6;
    .fa-star {
        color: red;
        padding-right: 5px;
    }
    .tab-content {
        #features {
            .col-sm-6 {
                > div {
                    line-height: 2.6;
                }
            }
        }
        #policies {
            > div {
                line-height: 2.6;
            }
        }
    }
}
.page.rooms {
    .heading-wrapper {
        background-image: url(https://s3-us-west-1.amazonaws.com/longtermstay/rooms_page_b.png);
        height: 50vh;
        background-attachment: fixed;
//        background-size: 100%;
        background-position-y: 100%;
        background-repeat: no-repeat;
        > div {
            left: 0;
            right: 0;
            top: 50%;
        }
    }
}
.rooms.page img {
    padding: 10px;
    border: 1px solid #eee;
    height: auto;
    width: 100%;
}
.rooms.page .heading-wrapper {
}
.mb-10px {
    margin-bottom: 10px;
}
.embed-responsive iframe {
    height: 512px !important;
}
.footer-cols {
    padding: 20px 0;
    text-transform: capitalize;
}
.d-block {
    display: block;
}
.d-none {
    display: none;
}
.bg-f9f9f9 {
    background: #f9f9f9 !important;
}
.fz-12rem {
    font-size: 12rem;
}
.my-50px {
    margin-bottom: 50px;
    margin-top: 50px;
}
.mb-30px {
    margin-bottom: 30px;
}
.mt-30px {
    margin-top: 30px;
}
.p-20px {
    padding: 20px;
}
.py-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-white {
    background: white !important;
}
.bd-r-8px {
    border-radius: 8px;
}
.bd-r-tr8px {
    border-radius: 8px 8px 0 0 ;
}
.bd-r-bl8px {
    border-radius: 0 0 8px 8px;
}

.bd-075 {
    border: 1px solid rgba(0,0,0,0.075);
}
.h-300px {
    height: 300px;
}
.h-264px {
    height: 264px;
}
.location-link > h2 {
    position: absolute;
    bottom: 30px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
}
.location-link {
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}
.bd-1px {
    border: 1px solid #f9f9f9;
}
.p-0 {
    padding: 0;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.footer {
    background: #333;
}
.footer a,
.copyright {
    color: #888888 !important;
}
.footer-cols h5 {
    color: white;
    font-size: 16px;
    margin-bottom: 6px;
}
.footer-cols ul {
    margin-bottom: 20px;
}
.footer-contact,
.copyright {
    background: #383838;
}
.color-red {
    color: red;
}
.testimonials .testi-wrap img {
    width: 68px;
    position: absolute;
    right: 47px;
    bottom: 130px;
}
.testi-text {
    border-bottom: 1px solid #ccc;
    padding: 20px 20px 60px 20px;
}
.testi-company {
    color: #adadad;
    font-size: 12px;
}
.fa-quote-left, .fa-quote-right {
    color: #bdbdbd;
}
.gallery_final {
//    background-image: url('/img/ltstay_outdoor_b.png');
    padding: 0;
    height: 60vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    position: relative;
    background-position-y: 100%;
    div.gallery_txt {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 95%;
        height: 30%;
        text-align: center;
        h2 {
            margin-bottom: 10px;
        }
        a {
            padding: 10px;
            border-radius: 4px;
            color: #fff;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}
.homes-list {
    padding-top: 10px;
    padding-bottom: 10px;
}
.results-view {
    margin-bottom: 10px;
    padding: 10px;
    i, span {
        padding-left: 10px;
    }
}
.home-items {
    .item {
        padding: 12px;
        margin-bottom: 10px;
    }
}
.small-90 {
    font-size: 90%;
}
.fw-600 {
    font-weight: 600;
}
.filter {
    padding-right: 0px;
    .filter-inner {
        padding: 15px;
        .refine-by {
//            padding-bottom: 20px;
        }
        .refine-section-heading {
            padding-bottom: 5px;
            padding-top: 15px;
        }
        ul {
//            padding-bottom: 15px;
        }
    }
}
.item-temp2-inner {
    background: #fff;
    border-radius: 4px;
    margin: 10px;
}
.item-temp2 {
    padding: 0;
}
.item-temp2-link-wrapper {
    padding: 20px 10px;
    text-align: center;
    // for text over image, uncomment this.
//    padding: 10px 10px;
//    text-align: center;
//    position: absolute;
//    left: 10px;
//    right: 10px;
//    bottom: 10px;
//    z-index: 1000;
//    color: #fff;
//    background: rgba(0, 0, 0, 0.13);
    h5 {
        margin-bottom: 5px;
        font-size: 20px;
        color: orangered;
    }
}

.homedetail {
    background: #f9f9f9;
    .big-img {
        height: 50vh;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        img {
            height: inherit;
            display: inline-block;
            vertical-align: top;
            width: auto;
        }
    }
    .home-detail-section {
        padding: 50px 30px;
        margin-bottom: 15px;
        border-radius: 4px;
        .head {
            h2 {
                color: #ed2227;
                font-size: 28px;
                margin-bottom: 15px;
            }
            .summary {
                margin-bottom: 15px;
                color: rgba(154, 148, 148, 0.82);
            }
        }
        .features-icons {
            >div {
                display: inline-block;
                i {
                    font-size: 40px;
                    padding: 20px 20px;
                    color: rgba(0, 0, 0, 0.65);
                }
            }
        }
        .about {
            line-height: 1.9;
            .pills {
                padding-top: 14px;
                li {
                    list-style: none;
                    display: inline-block;
                    background: #ed2227;
                    padding: 2px 6px;
                    border-radius: 4px;
                    font-size: 12px;
                    color: white;
                }
            }
        }
        .features, .policies {
            line-height: 2.5;
            .fa-check-circle-o, .fa-star {
                color: #009688;
                margin-right: 5px;            }
        }
        h3 {
            margin-bottom: 15px;
        }
        ul {
            line-height: 2;
            list-style: circle;
            margin: 0;
            padding: 0;
            list-style-position: inside;
        }
    }
    .home-detail-content, .home-detail-book {
        margin: 15px 0;
    }
}

.has-success, .has-error {
    position: relative;
    .validation {
        position: absolute;
        top: -9px;
        right: -54px;
    }
}
.pl-5px {
    padding-left: 5px !important;
}

.pr-5px {
    padding-right: 5px !important;
}

.bdrs-4px {
    border-radius: 4px;
}

.text-white {
    color: white !important;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.fw-500 {
    font-weight: 500;
}
.py-30px {
    padding-top: 30px;
    padding-bottom: 30px;
}
.my-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mr-5px {
    margin-right: 5px;
}
.ml-5px {
    margin-left: 5px;
}
.p-30px {
    padding: 30px;
}
.pb-15px {
    padding-bottom: 15px;
}
.mb-15px {
    margin-bottom: 15px;
}
.d-inline-block {
    display: inline-block;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.bd-s-1 {
    border: 1px solid;
}
.py-4percent {
    padding-top: 4%;
    padding-bottom: 4%;
}
.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-slider-horizontal .ui-slider-range {
    background: green;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1036px) {
    .home .search-form {
        bottom: 15% !important;
        position: absolute !important;
    }
}

@media only screen and (max-width : 992px) {
    .home .search-form {
        left: 10% !important;
        right: 10% !important;
        position: absolute !important;
    }
    .section .embed-responsive-4by3 {
        display: none;
    }
    .hero-text {
        display: none;
    }
    .default .navbar-default {
        padding: 1% 2%;
    }
    .map-wrapper {
        display: none;
    }
    .map-link {
        display: block;
    }
    .listings {
        padding: 3% 5%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-header {
        padding: 3px 0px 15px;
    }
    .page .location-img {
        height: auto;
    }
    .amenities-img {
        height: auto;
    }
    .html-listings .default .search-form {
        display: block;
    }
    .default .search-form {
        display: none;
    }
    .home .navbar-default {
//        background: orangered;
        z-index: 4;
    }
    .default .navbar-default {
        padding: 1% 2%;
    }
    .gallery .img-gallery-row {
        height: auto;
    }
    .contact-right,
    .contact-left {
        text-align: center;
    }
    .listings-img {
        width: 40%;
    }
    .listings-main {
        text-align: center;
    }
    .navbar-default .navbar-brand {
        margin-top: -11px;
    }
    .filter {
        padding-right: 15px;
        margin-bottom: 10px;
        .collapse.show {
            display: none !important;
        }
        .collapsing.show {
            display: block !important;
        }
        .collapse.show.in {
            display: block !important;
        }
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .d-sm-block {
        display: block !important;
    }
    .h-sm-170px {
        height: 170px !important;
    }
    .location-link > h2 {
        font-size: 20px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}